@charset "utf-8";
/* CSS Document */
 
 
body{
    background:rgba(204,204,204,1);
}
 
 
.ventana{
    background:rgba(0,0,102,1);
    width:30%;
    color:rgba(255,255,255,1);
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
    text-align:center;
    padding:33px;
    min-height:250px;
    border-radius:22px;
    position:absolute;
    left:34%;
    top:25%;
    display:none;
}
 
#cerrar{
    position:absolute;
    right:3px;
    top:1px;
}
 
 
header{
    background:rgba(0,153,204,1);
    width:1000px;
    height:128px;
    margin:auto;
    border-radius:22px 22px 0 0;
}
 
 
nav{
    background:rgba(0,102,255,1);
    width:1000px;
    height:50px;
    margin:auto;
}
 
 
#contenedor{
    background:rgba(255,255,255,1);
    padding:33px;
    box-sizing:border-box;
    width:1000px;
    height:700px;
    margin:auto;
}
 
footer{
    background:rgba(0,0,0,1);
    width:1000px;
    height:128px;
    margin:auto;
    border-radius:0 0 22px 22px;
}











